*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;

}

/* DEBUG */

.debug{
  border: solid 2px dashed red;
  background-color: rgb(239, 171, 171);
}

/* TOOL */

.d-flex{
  display: flex;
}

.container{
  width: 80%;
  max-width: 1350px;
  margin: 0 auto;
}

/* HEADER */

nav{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: #FF6900;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 15px rgb(43, 42, 42);
}
.left-menu li{
  padding: 10px;
  list-style: none;
}
.left-menu li a{
  color: white;
  text-decoration: none;
}

.right-menu li{
  padding: 10px;
  list-style: none;
}

.right-menu li a{
  color: white;
  text-decoration: none;
}

.logo img{
  height: 40px;
  
}
.logo{
  height: 40px;


    /* MAIN */

}

.row1{
  margin-top: 130px;
  margin-bottom: 100px;
  flex-direction: row;
  justify-content: space-between;
}

.row2{
  margin-bottom: 100px;
  flex-direction: row;
  justify-content: space-between;
}


.card-1{
  position: relative;
  width: 440px;
  height: 642px;
}
  

.card{
  width: 100%;
}

.discount{
  position: absolute;
  left:  0;
  bottom: 40px;
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: red;
  color: white;
}

.sosten{
  position: absolute;
  bottom: 40px;
  left: 52px ;
  height: 25px;
  width: 100px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 25px;
}

.sosten2{
  position: absolute;
  bottom: 40px;
  left: 0px ;
  height: 25px;
  width: 100px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 25px;
}

.heart{
  position: absolute;
  top: 10px;
  right: 0px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: white;
  font-size: 30px;
}


.tipo{
  font-size: 20px;
  font-weight: bold;
}

.prezzo{
  color: red;
}
.prezzo-p{
  color: rgb(65, 65, 65);
}


    /* FOOTER */

footer{
  height: 108px;
  background-color: black;
  color: white;
}

.menu-left h3{
  padding: 30px 0 10px 0 ;
}
.menu-right h3{
  font-size: 15px;
  padding: 30px 0 10px 0 ;
}

.menu-right .info ul li{
  font-size: 20px;
}

.info ul{
  list-style: none;
}

.info ul li{
  flex-direction: row;
  padding-right: 10px;
}
.foot{
  flex-direction: row;
  justify-content: space-between;
}

